body{margin: 0;}

main{
    padding: 16;
}


.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);

}

a{text-decoration: none;

}


footer{
    margin-top: 500px;
    font-size: large;
    padding-top: 24;
    padding-bottom: 24;
    padding-left: 0;
    padding-right: 0;
    background-color: aqua;
    text-align: center;
}


img{height: 200px;}



nav{
    border-bottom: 1px solid black;
    padding: 16;
    background-color: chartreuse;
}

tr:nth-child(even){
    background-color: grey;
}
